@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  background-color: #252424;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hand {
  animation: waving 3s infinite;
  display: inline-block;
}
